<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ucsd.mycity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/map_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.ucsd.mycity.Map"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name="edu.ucsd.mycity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="edu.ucsd.mycity.BuddyList"
            android:label="@string/title_activity_buddy_list" >
        </activity>
        <activity
            android:name="edu.ucsd.mycity.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="edu.ucsd.mycity.AddUserContActivity"
            android:label="@string/title_activity_add_user_cont" >
        </activity>

        <service
            android:name="edu.ucsd.mycity.GTalkService"
            android:enabled="true" />

        <activity
            android:name="edu.ucsd.mycity.ShowUserContActivity"
            android:label="@string/title_activity_show_user_cont" >
        </activity>
    </application>

</manifest>